#FillForm textarea{
	resize: none;
	margin:auto;
}
#FillForm{
	text-align:center;
}
#column{
	width: 800px;
	margin:auto;
	padding-bottom:35px;
}
.thread{
	background:#EEEEEE;
	margin:10px;
	padding:15px;
}
.answer{
	background:#F0E0D6;
	margin:10px 10px 30px 35px;
	padding:15px;
}
.timestamp{
	float: right;
    font-size: 80%;
}
#title{
	color:#800000;
	font-size:30pt;
	font-weight: bold;
	width:100%;
	text-align:center;
}
#subtitle{
	color:#800000;
	font-size:9pt;
	font-weight: normal;
	width:100%;
	text-align:center;
}
body{
	color:#272727;
    line-height: 2;
}
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(tinybox/images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(tinybox/imagesclose.png) no-repeat}
.tclose:hover {background-position:0 -30px}